@charset "UTF-8";
/*  RESET CSS
------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
::before,
::after {
  background-repeat: no-repeat; }

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit; }

html, body {
  font-size: 62.5%;
  -webkit-overflow-scrolling: touch; }

html {
  overflow-y: scroll;
  cursor: default; }

body {
  line-height: 1;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-print-color-adjust: exact; }

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-weight: normal;
  line-height: 1.4em; }

ol, ul, li {
  list-style: none; }

article, aside, details, figcaption, figure,
footer, header, main, menu, nav, section, summary {
  display: block; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: normal; }

td, th {
  padding: 0; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

a {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
  cursor: pointer; }

a:active, a:hover {
  outline-width: 0; }

a:focus, *:focus {
  outline: none; }

img {
  border-style: none;
  vertical-align: bottom; }

[type="text"],
[type="tel"],
[type="email"],
[type="date"],
[type="number"],
[type="submit"],
[type="button"],
button, textarea, select {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

input, select {
  vertical-align: middle; }

select {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

select::-ms-expand {
  display: none; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"], [role="button"] {
  cursor: pointer; }

/* IEのinput要素に出てくるマークを消去 */
input::-ms-clear {
  visibility: hidden; }

/* IEのinput要素に出てくるマークを消去 */
input::-ms-reveal {
  visibility: hidden; }

@font-face {
  font-family: '851MkPOP';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/851MkPOP/851MkPOP.eot");
  src: url("../fonts/851MkPOP/851MkPOP.eot?#iefix") format("embedded-opentype"), url("../fonts/851MkPOP/851MkPOP.woff2") format("woff2"), url("../fonts/851MkPOP/851MkPOP.woff") format("woff"), url("../fonts/851MkPOP/851MkPOP.ttf") format("truetype"); }
/*  THEME CSS
------------------------------------------------------------------------------*/
html {
  font-size: 62.5%; }

body {
  width: 100%;
  height: 100%;
  color: #333;
  background-color: #fff;
  font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meyryo, sans-serif;
  font-size: calc(25 / 750 * 100vw);
  font-weight: 400;
  line-height: 1;
  letter-spacing: .1em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  overflow-x: hidden; }

@media screen and (min-width: 801px) {
  body {
    font-size: calc(15 / 1600 * 100vw); } }
@media screen and (min-width: 1601px) {
  body {
    font-size: 1.5em; } }
/*  リンク
-------------------------------------------------------*/
a {
  transition: all .3s; }

a:hover {
  cursor: pointer; }

a.opacity {
  display: block; }

a.opacity:hover {
  opacity: 0.7; }

/*  header
------------------------------------------------------------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20vw;
  /* ヘッダー高さ */
  background-color: white;
  z-index: 10; }

.header--white {
  background-color: #fff; }

.header__logo {
  position: relative;
  padding-left: 4vw;
  width: calc(300 / 750 * 100vw);
  z-index: 999; }

@media screen and (min-width: 801px) {
  .header {
    justify-content: space-between;
    height: 6.25vw; }

  .header__logo {
    padding-left: 1.875vw;
    width: 12.5vw; }

  .header__navi {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 17.5vw); } }
@media screen and (min-width: 1601px) {
  .header {
    height: 100px;
    /* ヘッダー高さ */ }

  .header__logo {
    padding-left: 30px;
    width: 200px; }

  .header__navi {
    width: calc(100% - 280px); } }
/* ------------------------------------ ナビコンテナ */
.header__navi {
  display: flex;
  justify-content: flex-end;
  align-items: center; }

@media screen and (max-width: 801px) {
  .header__navi {
    display: inline-block;
    position: fixed;
    top: 20vw;
    left: 0;
    width: 100%;
    height: 0%;
    background-image: url(../img/hero/image1.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: opacity .1s linear,visibility .1s linear;
    overflow: hidden;
    overflow-x: scroll;
    z-index: 99999; }

  .header__navi::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(51, 178, 109, 0.75); }

  .header__navi.is-open {
    opacity: 1;
    visibility: visible;
    height: calc(100vh - 20vw);
    transition: opacity .1s linear .1s,visibility .1s linear .1s; } }
/* ------------------------------------ グローバルナビ */
.navi__container {
  position: relative;
  display: flex; }

.navi {
  position: relative;
  width: 100%; }

.navi > div > p {
  position: relative;
  display: block;
  font-weight: 700; }

.navi > div > p:hover {
  cursor: pointer; }

.navi > div > p span:nth-of-type(1) {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: .15em; }

.navi > div > p span:nth-of-type(2) {
  font-weight: 700; }

.submenu-inner {
  display: flex;
  flex-wrap: wrap; }

.submenu-inner a:hover {
  opacity: 0.6; }

.submenu-box {
  position: relative; }

.submenu-box .text {
  position: absolute;
  bottom: .5em;
  left: 0;
  margin: 0 auto;
  padding: 0 .5em;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 1.3em; }

/* ------------------------------------ グローバルナビ（PC） */
@media screen and (min-width: 801px) {
  .navi__container {
    align-items: center; }

  .navi {
    display: flex;
    align-items: center; }

  .navi > div {
    padding: 0 1em; }

  .navi > div > p {
    padding: 1em;
    font-size: 0.9375vw;
    text-align: center; }

  .navi > div > p span {
    display: block; }

  .navi > div > p span:nth-of-type(1) {
    margin-bottom: 1em; }

  .navi > div > p:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: #0060b0;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: .3s; }

  .navi > div > p:hover::before {
    width: 100%; }

  .submenu-bg {
    position: fixed;
    top: 6.25vw;
    left: 0;
    padding: 1.5625vw 0;
    width: 100%;
    background-image: url(../img/hero/image1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    transition: all .2s;
    visibility: hidden;
    opacity: 0; }

  .submenu-bg::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: -moz-linear-gradient(0deg, #296c00 0%, #7bd7a5 0%, #32b16c 100%);
    background-image: -webkit-linear-gradient(0deg, #296c00 0%, #7bd7a5 0%, #32b16c 100%);
    background-image: -ms-linear-gradient(0deg, #296c00 0%, #7bd7a5 0%, #32b16c 100%); }

  .submenu-wrap {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 75vw;
    z-index: 2; }

  .submenu-wrap a {
    margin-right: 3em;
    padding: 1em 0;
    color: #fff;
    font-size: 0.9375vw;
    font-weight: 700; }

  .submenu-wrap a:last-of-type {
    margin-right: 0; }

  .submenu-wrap a:hover {
    color: #333; }

  .submenu-wrap a:after {
    display: inline-block;
    content: '▶︎';
    padding-left: 1em;
    transition: .3s; }

  .submenu-wrap a:hover::after {
    transform: translateX(5px); }

  .navi > div:hover .submenu-bg {
    visibility: visible;
    opacity: 1; }

  .menu-title {
    position: relative;
    width: 350px; }
    .menu-title p {
      color: #fff;
      z-index: 1; }

  .submenu {
    width: 550px; }

  .submenu-inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px; }

  .submenu-inner a {
    margin-left: 15px;
    margin-bottom: 20px;
    width: calc(33.33333% - 15px); } }
@media screen and (min-width: 1601px) {
  .navi > div > p {
    font-size: 15px;
    font-size: 1.5rem; }

  .submenu-bg {
    top: 100px;
    padding: 25px 0; }

  .submenu-wrap {
    max-width: 1200px; }

  .submenu-wrap a {
    font-size: 15px;
    font-size: 1.5rem; }

  .menu-title {
    width: 350px; }

  .submenu {
    width: 550px; }

  .submenu-inner {
    margin-left: -15px; }

  .submenu-inner a {
    margin-left: 15px;
    margin-bottom: 20px;
    width: calc(33.33333% - 15px); } }
/* ------------------------------------ グローバルナビ（SP） */
@media screen and (max-width: 801px) {
  .navi__container {
    padding-top: 4vw;
    justify-content: center;
    height: calc(100vh - 16vw);
    overflow-y: scroll; }

  .navi > div {
    width: 100%;
    font-weight: 700;
    border-bottom: 1px dotted #fff; }

  .navi > div > p {
    padding: 1.5em 2em;
    color: #fff;
    font-size: 3.3333333333vw; }

  .navi > div > p span:nth-of-type(1) {
    margin-right: 1.5em; }

  .navi > div > p:hover {
    background-color: #333; }

  .submenu-bg {
    display: none; }

  .submenu-wrap {
    padding: 4vw 4.6vw 4vw 4.6vw;
    background-color: #fff; }

  .submenu-wrap a {
    display: block;
    padding: 1em;
    width: 100%;
    font-weight: 700;
    border-bottom: 1px solid #d3f8ae; }

  .submenu-inner {
    display: flex;
    flex-wrap: wrap;
    margin-left: -2.6vw; }

  .submenu-inner a {
    margin-left: 2.6vw;
    margin-bottom: 2.6vw;
    width: calc(50% - 2.6vw); }

  .navi__submenu--has {
    position: relative; }

  .navi__submenu--has p:after {
    position: absolute;
    right: 2em;
    top: 1.4em;
    content: '';
    display: inline-block;
    width: 4.2666666667vw;
    height: 4.2666666667vw;
    background-image: url(../img/header/plus.png);
    background-size: contain;
    background-repeat: no-repeat; }

  .submenu li a:after {
    color: #0060b0; } }
/* ----------------- トグルボタン - */
.toggle {
  position: fixed;
  top: calc(20 / 750 * 100vw);
  right: calc(15 / 750 * 100vw);
  width: calc(120 / 750 * 100vw);
  height: calc(110 / 750 * 100vw);
  cursor: pointer;
  z-index: 555;
  transition: opacity 0.25s ease; }

.toggle span {
  position: absolute;
  left: calc(20 / 750 * 100vw);
  width: calc(80 / 750 * 100vw);
  height: calc(6 / 750 * 100vw);
  background-color: #333;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  cursor: pointer; }

.toggle span:nth-of-type(1) {
  top: calc(24 / 750 * 100vw); }

.toggle span:nth-of-type(2) {
  top: calc(52 / 750 * 100vw); }

.toggle span:nth-of-type(3) {
  top: calc(80 / 750 * 100vw); }

.toggle.is-active span:nth-of-type(1) {
  top: calc(52 / 750 * 100vw);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

.toggle.is-active span:nth-of-type(2) {
  display: none; }

.toggle.is-active span:nth-of-type(3) {
  top: calc(52 / 750 * 100vw);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg); }

@media screen and (min-width: 801px) {
  .toggle {
    display: none; } }
/*  footer
------------------------------------------------------------------------------*/
.footer {
  position: relative;
  background-color: #fff;
  background-image: url(../img/footer/bg.png);
  background-position: left bottom;
  background-size: 78.2666666667vw 40.4vw;
  background-repeat: no-repeat; }

.footer__inner {
  position: relative;
  margin: 0 auto;
  width: calc(700 / 750 * 100vw); }

@media screen and (min-width: 801px) {
  .footer {
    background-size: 36.6875vw 18.9375vw; }

  .footer__inner {
    width: calc(1500 / 1600 * 100vw); } }
@media screen and (min-width: 1601px) {
  .footer {
    background-size: 587px 303px; }

  .footer__inner {
    width: 1400px; } }
/* ----------------- メニュー - */
.footer__navi__container {
  display: flex;
  flex-wrap: wrap;
  padding: 8vw 0;
  margin-left: -1.6vw; }

.footer__navi__container > div {
  margin-left: 1.6vw;
  margin-bottom: 6vw;
  width: calc(50% - 1.6vw); }

.footer__navi__main {
  display: block;
  font-size: 3.2vw;
  font-weight: 700;
  padding: .5em 0; }

.footer__navi__main span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

.footer__navi__main span:after {
  content: '-';
  margin: 0 .5em; }

.footer__navi li a {
  position: relative;
  display: block;
  padding: .5em 0;
  font-size: 3.2vw;
  line-height: 1.3em; }

.footer__navi li a:hover {
  font-weight: 700; }

@media screen and (min-width: 801px) {
  .footer__navi__container {
    margin-left: -4vw;
    padding: 2.8125vw 2.8125vw 4.0625vw 2.8125vw; }

  .footer__navi__container > div {
    margin: 0 0 4vw 4vw;
    width: calc(25% - 4vw); }

  .footer__navi__main,
  .footer__navi > li a {
    font-size: 0.9375vw; } }
@media screen and (min-width: 1000px) {
  .footer__navi__container {
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 0;
    padding: 2.8125vw 0 4.0625vw 0; }

  .footer__navi__container > div {
    margin: 0;
    width: auto; }

  .footer__navi__main,
  .footer__navi > li a {
    font-size: 0.9375vw; } }
@media screen and (min-width: 1601px) {
  .footer__navi__container {
    padding: 45px 0 65px 0; }

  .footer__navi__main,
  .footer__navi > li a {
    font-size: 15px;
    font-size: 1.5rem; } }
/* ----------------- コピーライト - */
.footer__copy {
  padding: 1.5em 1em;
  color: #666; }

.footer__copy p {
  font-family: "Montserrat", sans-serif;
  font-size: calc(20 / 750 * 100vw);
  font-weight: 600;
  text-align: center; }

@media screen and (min-width: 801px) {
  .footer__copy p {
    font-size: calc(13 / 1600 * 100vw);
    text-align: right; } }
@media screen and (min-width: 1601px) {
  .footer__copy p {
    font-size: 13px;
    font-size: 1.3rem; } }
/*  layout
------------------------------------------------------------------------------*/
.container {
  margin: 0 auto;
  padding-top: 20vw;
  width: 100%; }

.container__inner {
  position: relative;
  margin: 0 auto;
  width: 93.3333333333vw; }

.container__large__inner {
  position: relative;
  margin: 0 auto;
  width: 93.3333333333vw; }

@media screen and (min-width: 801px) {
  .container {
    padding-top: 6.25vw; }

  .container__inner {
    width: 75vw; }

  .container__large__inner {
    width: 93.75vw; } }
@media screen and (min-width: 1601px) {
  .container {
    padding-top: 100px; }

  .container__inner {
    width: 1200px; }

  .container__large__inner {
    width: 1400px; } }
.sec {
  position: relative; }

/*  common
------------------------------------------------------------------------------*/
/* ---------------------------------- image hover scale */
.img__scale {
  width: 100%;
  height: auto;
  overflow: hidden; }

.img__scale img {
  width: 100%;
  transition-duration: 0.5s; }

.img__scale__hover, .hover__container a:hover .img__scale img,
.hover__container > div:hover .img__scale img, .wel li:hover .img__scale img, .entry a:hover .img__scale img {
  transform: scale(1.1, 1.1);
  cursor: pointer; }

/* ---------------------------------- gradient text */
strong.stro-red {
  display: inline-block;
  background: linear-gradient(to right, #febc95 25%, #ff7645 75%);
  color: transparent;
  -webkit-background-clip: text; }

strong.stro-green {
  display: inline-block;
  background: linear-gradient(to right, #7bd7a5 25%, #33b16c 75%);
  color: transparent;
  -webkit-background-clip: text; }

@media all and (-ms-high-contrast: none) {
  /* IE10,11用 */
  strong.stro-red {
    background: none;
    color: #ff7645; }

  strong.stro-green {
    background: none;
    color: #33b16c; } }
/* ---------------------------------- bg-stripe */
span.bg-stripe {
  position: relative; }

span.bg-stripe:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background: -webkit-repeating-linear-gradient(-45deg, #f5d448, #f5d448 5px, #fdf6da 5px, #fdf6da 12px);
  background: repeating-linear-gradient(-45deg, #f5d448, #f5d448 5px, #fdf6da 5px, #fdf6da 12px);
  z-index: -1; }

/* ---------------------------------- shadowbox */
.cmn-shadowbox {
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  z-index: 3; }

.cmn-shadowbox--small {
  padding: 6.6666666667vw 3.3333333333vw;
  width: 100%; }

.cmn-shadowbox--large {
  padding: 6.6666666667vw 3.3333333333vw;
  width: 100%; }

.cmn-shadowbox-head {
  margin-bottom: 3em;
  text-align: center;
  line-height: 2em; }

.cmn-shadowbox-head span {
  background-color: #faa924;
  padding: .3em .5em;
  color: #fff;
  font-size: 4.5333333333vw;
  font-weight: 700;
  line-height: 2em; }

@media screen and (min-width: 801px) {
  .cmn-shadowbox--small {
    padding: 3.125vw;
    width: 56.25vw; }

  .cmn-shadowbox--large {
    padding: 2.8125vw 3.75vw; }

  .cmn-shadowbox-head span {
    font-size: 1.5vw; } }
@media screen and (min-width: 1601px) {
  .cmn-shadowbox--small {
    padding: 50px;
    width: 900px; }

  .cmn-shadowbox--large {
    padding: 45px 60px; }

  .cmn-shadowbox-head span {
    font-size: 24px;
    font-size: 2.4rem; } }
/* ---------------------------------- cmn-list */
.cmn-list-box {
  margin: 0 auto;
  background-color: #fff8ee;
  padding: 1em 2em;
  max-width: 100%; }

.cmn-list {
  position: relative;
  z-index: 2; }

.cmn-list li {
  position: relative;
  padding: .5em 0 .5em 1.5em;
  font-size: 3.7333333333vw;
  font-weight: 700;
  line-height: 1.6em; }

.cmn-list li:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  background-image: url(../img/common/check.png);
  background-size: contain;
  background-repeat: no-repeat; }

.cmn-list li:before {
  top: .8em;
  width: 4vw;
  height: 3.2vw; }

.cmn-list li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: 0.6666666667vw;
  background-image: url(../img/common/line.png);
  background-size: auto 100%;
  background-repeat: repeat-x; }

.cmn-list li:last-child::after {
  content: none; }

@media screen and (min-width: 801px) {
  .cmn-list-box {
    max-width: 60.3125vw; }

  .cmn-list li {
    padding: .5em 0 .5em 2em;
    font-size: 1.125vw; }

  .cmn-list li:before {
    top: .6em;
    width: 1.75vw;
    height: 1.5vw; }

  .cmn-list li:after {
    height: 0.15625vw; } }
@media screen and (min-width: 1601px) {
  .cmn-list-box {
    max-width: 965px; }

  .cmn-list li {
    font-size: 18px;
    font-size: 1.8rem; }

  .cmn-list li:before {
    width: 28px;
    height: 24px; }

  .cmn-list li:after {
    height: 2.5px; } }
/* ---------------------------------- cmn-graph */
.cmn-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 36vw;
  height: 36vw;
  background-image: url(../img/common/graph.png);
  background-size: 100%; }

.cmn-count {
  display: inline-block;
  background: linear-gradient(to right, #ffa66d 25%, #ff8c63 75%);
  color: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 6.1333333333vw;
  font-weight: 700;
  -webkit-background-clip: text; }
  .cmn-count span {
    font-size: 9.6vw; }

@media all and (-ms-high-contrast: none) {
  /* IE10,11用 */
  .cmn-count {
    background: none;
    color: #ff8c63; } }
@media screen and (max-width: 800px) {
  .cmn-graph {
    margin: 8vw auto 0 auto; } }
@media screen and (min-width: 801px) {
  .cmn-graph {
    width: 14.0625vw;
    height: 14.0625vw; }

  .cmn-count {
    font-size: 2.25vw; }
    .cmn-count span {
      font-size: 3.875vw; } }
@media screen and (min-width: 1601px) {
  .cmn-graph {
    width: 225px;
    height: 225px; }

  .cmn-count {
    font-size: 36px;
    font-size: 3.6rem; }
    .cmn-count span {
      font-size: 62px;
      font-size: 6.2rem; } }
/*  hero
------------------------------------------------------------------------------*/
.hero {
  position: relative;
  padding-top: 10.6666666667vw;
  background-image: url(../img/hero/hero.jpg);
  background-size: cover;
  background-position: center;
  height: 116vw; }

.hero__in {
  position: relative;
  margin: 0 auto;
  width: 93.3333333333vw;
  height: 100%; }

@media screen and (min-width: 801px) {
  .hero {
    padding-top: 5vw;
    height: 46.875vw; }

  .hero__in {
    width: 75vw; } }
@media screen and (min-width: 1601px) {
  .hero {
    padding-top: 80px;
    height: 750px; }

  .hero__in {
    width: 1200px; } }
.hero-scroll {
  position: absolute;
  bottom: 5.3333333333vw;
  left: 50%;
  width: 10.2666666667vw;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.hero-scroll a {
  display: block; }

.hero-scroll a:hover {
  transform: translateY(-10px); }

@media screen and (min-width: 801px) {
  .hero-scroll {
    bottom: 2.5vw;
    width: 4.8125vw; } }
@media screen and (min-width: 1601px) {
  .hero-scroll {
    bottom: 40px;
    width: 77px; } }
.hero-btn {
  position: absolute;
  top: 82.6666666667vw;
  right: 3.3333333333vw;
  width: 29.3333333333vw;
  z-index: 3; }

.hero-btn > div:nth-of-type(1) {
  margin-bottom: 1em; }

.btn--hero a {
  padding: .5em 0;
  display: block;
  flex-wrap: wrap; }

.btn--hero span {
  display: block;
  width: 100%;
  font-size: 2.6666666667vw; }

.btn--hero span:nth-of-type(1) {
  margin-bottom: .5em; }

@media screen and (min-width: 801px) {
  .hero-btn {
    top: 1.875vw;
    right: 2.5vw;
    width: 12.5vw; }

  .btn--hero span {
    font-size: 0.9375vw; } }
@media screen and (min-width: 1601px) {
  .hero-btn {
    top: 30px;
    right: 40px;
    width: 200px; }

  .btn--hero span {
    font-size: 15px;
    font-size: 1.5rem; } }
/*  intro
------------------------------------------------------------------------------*/
.sec--intro {
  background-image: url(../img/intro/bg.jpg);
  background-size: cover; }

.intro {
  padding: 20vw 0;
  background-image: url(../img/intro/logo.png);
  background-position: center;
  background-size: 66.6666666667vw 66.6666666667vw; }
  .intro p {
    font-size: 3.7333333333vw;
    font-weight: 600;
    text-align: center;
    line-height: 2.1em; }

.intro-head {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  padding-left: .5em;
  font-size: 4.5333333333vw;
  font-weight: 700;
  text-align: center;
  line-height: 1.8em;
  letter-spacing: .5em; }

.intro-head:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 16vw;
  height: 0.8vw;
  background-image: -moz-linear-gradient(0deg, #9fdf45 0%, #5bcbfc 33%, #fac253 66%, #f64d5a 100%);
  background-image: -webkit-linear-gradient(0deg, #9fdf45 0%, #5bcbfc 33%, #fac253 66%, #f64d5a 100%);
  background-image: -ms-linear-gradient(0deg, #9fdf45 0%, #5bcbfc 33%, #fac253 66%, #f64d5a 100%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

@media screen and (min-width: 801px) {
  .intro {
    padding: 8.125vw 0;
    background-size: 21.625vw 21.625vw; }
    .intro p {
      font-size: 1.125vw; }

  .intro-head {
    font-size: 1.5vw; }

  .intro-head:after {
    width: 3.75vw;
    height: 0.1875vw; } }
@media screen and (min-width: 1601px) {
  .intro {
    padding: 130px 0;
    background-size: 346px 346px; }
    .intro p {
      font-size: 18px;
      font-size: 1.8rem; }

  .intro-head {
    font-size: 24px;
    font-size: 2.4rem; }

  .intro-head:after {
    width: 60px;
    height: 3px; } }
/* event
------------------------------------------------------------------------------*/
.sec--event {
  padding: 6.6666666667vw 0 0 0; }

@media screen and (min-width: 801px) {
  .sec--event {
    padding: 1.5625vw 0 0 0; } }
@media screen and (min-width: 1601px) {
  .sec--event {
    padding: 25px 0 0 0; } }
/* ---------------------------------- sec--event--second */
.sec--event--first {
  padding-bottom: 12vw; }

.sec--event--first:before {
  content: '';
  position: absolute;
  top: -23.3333333333vw;
  left: 50%;
  width: 100%;
  height: calc(100% + 23.3333333333vw);
  background-image: url(../img/event/bg.jpg);
  background-size: cover;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1; }

@media screen and (min-width: 801px) {
  .sec--event--first {
    padding-bottom: 5.625vw; }

  .sec--event--first:before {
    top: -10.9375vw;
    height: calc(100% + 10.9375vw); } }
@media screen and (min-width: 1601px) {
  .sec--event--first {
    padding-bottom: 90px; }

  .sec--event--first:before {
    top: -175px;
    height: calc(100% + 175px); } }
/* ---------------------------------- layout */
.event {
  margin: 10.6666666667vw 0 0 0; }

.event li {
  position: relative;
  margin: 0 auto 10.6666666667vw auto;
  width: 85.3333333333vw; }

@media screen and (min-width: 801px) {
  .event {
    display: flex;
    flex-wrap: wrap;
    margin: 3.75vw 0 0 -2.8125vw; }

  .event li {
    margin: 0 0 3.75vw 2.8125vw;
    width: calc(33.33333% - 2.8125vw); }

  .event li:nth-child(2),
  .event li:nth-child(5) {
    top: 3.125vw; }

  .event li:nth-child(3),
  .event li:nth-child(6) {
    top: 6.25vw; } }
@media screen and (min-width: 1601px) {
  .event {
    margin-left: 60px 0 0 -45px; }

  .event li {
    margin: 0 0 60px 45px;
    width: calc(33.33333% - 45px); }

  .event li:nth-child(2),
  .event li:nth-child(5) {
    top: 50px; }

  .event li:nth-child(3),
  .event li:nth-child(6) {
    top: 100px; } }
/* ---------------------------------- component */
.evebt-date {
  margin-bottom: 6vw;
  color: #faa924;
  font-family: "Montserrat", sans-serif;
  font-size: 3.7333333333vw;
  font-weight: 700; }
  .evebt-date span {
    font-size: 2em; }

.event-label {
  position: absolute;
  top: 4.6666666667vw;
  left: -4vw;
  padding: .3em .5em;
  background-color: #faa924;
  color: #fff;
  font-family: "851MkPOP", sans-serif;
  font-size: 3.7333333333vw;
  -webkit-transform: rotate(-7deg);
  transform: rotate(-7deg);
  z-index: 2; }

.event-image {
  position: relative;
  z-index: 2; }

.event-content p {
  font-size: 3.4666666667vw;
  font-weight: 700;
  line-height: 1.8em; }

@media screen and (min-width: 801px) {
  .evebt-date {
    margin-bottom: 1.875vw;
    font-size: 1.125vw; }

  .event-label {
    top: 1.5625vw;
    left: -1.25vw;
    font-size: 1.125vw; }

  .event-content p {
    font-size: 1vw; } }
@media screen and (min-width: 1601px) {
  .evebt-date {
    margin-bottom: 30px;
    font-size: 18px;
    font-size: 1.8rem; }

  .event-label {
    top: 25px;
    left: -20px;
    font-size: 18px;
    font-size: 1.8rem; }

  .event-content p {
    font-size: 16px;
    font-size: 1.6rem; } }
.event-slide {
  position: relative;
  width: 100%;
  height: auto; }

.event-slide .swiper-slide:before {
  content: '';
  position: absolute;
  top: -1em;
  right: -1em;
  width: 100%;
  height: 100%;
  background-image: -moz-linear-gradient(0deg, rgba(247, 203, 107, 0.99608) 0%, #fba980 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(247, 203, 107, 0.99608) 0%, #fba980 100%);
  background-image: -ms-linear-gradient(0deg, rgba(247, 203, 107, 0.99608) 0%, #fba980 100%);
  z-index: -1; }

.event-slide-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 8vw; }

.event-slide-pagination .swiper-pagination-bullet {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 .7em !important;
  width: .5em;
  height: .5em;
  background-color: #ccc;
  border-radius: 50%; }

.event-slide-pagination .swiper-pagination-bullet-active {
  background-color: #faa924; }

.event-slide-btn-prev,
.event-slide-btn-next {
  position: absolute;
  top: 50%;
  display: block;
  width: 9.3333333333vw;
  height: 9.3333333333vw;
  background-size: contain;
  transition: .3s;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3; }

.event-slide-btn-prev:hover,
.event-slide-btn-next:hover {
  opacity: 0.8; }

.event-slide-btn-prev {
  left: 0;
  background-image: url(../img/event/arrow-prev.png); }

.event-slide-btn-next {
  right: 0;
  background-image: url(../img/event/arrow-next.png); }

@media screen and (min-width: 801px) {
  .event-slide-pagination {
    height: 1.875vw; }

  .event-slide-btn-prev,
  .event-slide-btn-next {
    width: 2.5vw;
    height: 2.5vw; } }
@media screen and (min-width: 1601px) {
  .event-slide-pagination {
    height: 30px; }

  .event-slide-btn-prev,
  .event-slide-btn-next {
    width: 40px;
    height: 40px; } }
/* ---------------------------------- sec--event--second */
.sec--event-second {
  padding: 10.6666666667vw 0;
  background-color: #e5eff7; }

@media screen and (min-width: 801px) {
  .sec--event-second {
    padding: 3.75vw; } }
@media screen and (min-width: 1601px) {
  .sec--event-second {
    padding: 60px 0; } }
/* ---------------------------------- event-box */
.event-box {
  padding-bottom: 6vw;
  border-bottom: 1px solid #0060b0; }

.event-box > div:nth-child(1) {
  margin-bottom: 6vw; }

.event-box .cmn-list-box {
  margin: 2.6666666667vw 0 0 0; }

@media screen and (min-width: 801px) {
  .event-boxs {
    display: flex;
    justify-content: space-between; }

  .event-box {
    padding-right: 2.5vw;
    padding-bottom: 0;
    width: 40.625vw;
    border-right: 1px solid #0060b0;
    border-bottom: none; }

  .event-box > div:nth-child(1) {
    margin-bottom: 2.1875vw; }

  .event-box .cmn-list-box {
    margin: 1.25vw 0 0 3.75vw; } }
@media screen and (min-width: 1601px) {
  .event-box {
    padding-right: 40px;
    width: 650px; }

  .event-box > div:nth-child(1) {
    margin-bottom: 35px; }

  .event-box .cmn-list-box {
    margin: 20px 0 0 60px; } }
/* ---------------------------------- event-propo */
.event-propo {
  margin: 6vw auto 0 auto;
  width: 100%; }

.event-propo-content {
  width: 100%; }
  .event-propo-content p {
    font-size: 4vw;
    text-align: center;
    font-weight: 700;
    line-height: 2em; }
    .event-propo-content p strong {
      color: #f57442; }

@media screen and (min-width: 801px) {
  .event-propo {
    margin: 0 0 0 auto;
    width: 25.625vw; }

  .event-propo-content {
    margin: 0 auto 1.875vw auto; }
    .event-propo-content p {
      font-size: 1.25vw; } }
@media screen and (min-width: 1601px) {
  .event-propo {
    width: 410px; }

  .event-propo-content {
    margin: 0 auto 30px auto; }
    .event-propo-content p {
      font-size: 20px;
      font-size: 2.0rem; } }
/*  welcome
------------------------------------------------------------------------------*/
.sec--welcome {
  padding: 8vw 0 0 0; }

@media screen and (min-width: 801px) {
  .sec--welcome {
    padding: 3.125vw 0 0 0; } }
@media screen and (min-width: 1601px) {
  .sec--welcome {
    padding: 50px 0 0 0; } }
/* ---------------------------------- shodow box content */
.wel-desc {
  font-size: 1.2em;
  text-align: center;
  font-weight: 700;
  line-height: 1.8em; }

/* ---------------------------------- sec--wel--first */
.sec--welcome--first {
  padding-bottom: 12vw; }

.sec--welcome--first:before {
  content: '';
  position: absolute;
  top: -23.3333333333vw;
  left: 50%;
  width: 100%;
  height: 100%;
  background-image: url(../img/welcome/bg.jpg);
  background-size: cover;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1; }

.sec--welcome--first:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 30%;
  background-image: -moz-linear-gradient(0deg, rgba(255, 206, 99, 0.99608) 0%, #fba980 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(255, 206, 99, 0.99608) 0%, #fba980 100%);
  background-image: -ms-linear-gradient(0deg, rgba(255, 206, 99, 0.99608) 0%, #fba980 100%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1; }

.wel {
  position: relative;
  margin: 8vw auto 0 auto;
  width: 82.6666666667vw;
  z-index: 2; }

.wel li {
  display: block;
  margin-bottom: 8vw;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4vw; }

.wel li:last-child {
  margin-bottom: 0; }

.wel-image .img__scale,
.wel-image img {
  border-radius: 4vw 4vw 0 0; }

.wel-content {
  padding: 4.6666666667vw 4.6666666667vw 6.6666666667vw 4.6666666667vw;
  background-color: #fff;
  border-radius: 0 0 4vw 4vw; }
  .wel-content p {
    font-size: 3.4666666667vw;
    font-weight: 700;
    line-height: 1.8em; }

@media screen and (min-width: 801px) {
  .sec--welcome--first {
    padding-bottom: 5.625vw; }

  .sec--welcome--first:before {
    top: -10.9375vw;
    height: 100%; }

  .sec--welcome--first:after {
    height: 19.6875vw; }

  .wel {
    display: flex;
    justify-content: space-between;
    margin-top: 3.75vw;
    width: 100%; }

  .wel li {
    margin-bottom: 0;
    width: 23.75vw;
    border-radius: 1.25vw; }

  .wel-image .img__scale,
  .wel-image img {
    border-radius: 1.25vw 1.25vw 0 0; }

  .wel-content {
    padding: 1.25vw 1.25vw 1.5625vw 1.25vw;
    background-color: #fff;
    border-radius: 0 0 1.25vw 1.25vw; }
    .wel-content p {
      font-size: 1vw; } }
@media screen and (min-width: 1601px) {
  .sec--welcome--first {
    padding-bottom: 90px; }

  .sec--welcome--first:before {
    top: -175px; }

  .sec--welcome--first:after {
    height: 315px; }

  .wel {
    margin-top: 60px; }

  .wel li {
    width: 380px;
    border-radius: 20px; }

  .wel-image .img__scale,
  .wel-image img {
    border-radius: 20px 20px 0 0; }

  .wel-content {
    padding: 20px 20px 25px 20px;
    background-color: #fff;
    border-radius: 0 0 20px 20px; }
    .wel-content p {
      font-size: 16px;
      font-size: 1.6rem; } }
/* ---------------------------------- sec--wel--second */
.sec--welcome-second {
  padding: 10.6666666667vw 0;
  background-color: #e5eff7; }

@media screen and (min-width: 801px) {
  .sec--welcome-second {
    padding: 3.75vw; } }
@media screen and (min-width: 1601px) {
  .sec--welcome-second {
    padding: 60px 0; } }
/* ---------------------------------- wel-box */
.wel-box {
  padding-bottom: 6vw;
  border-bottom: 1px solid #0060b0; }

@media screen and (min-width: 801px) {
  .wel-box {
    padding-bottom: 1.875vw; } }
@media screen and (min-width: 1601px) {
  .wel-box {
    padding-bottom: 30px; } }
/* ---------------------------------- wel-propo */
.wel-propo {
  margin: 6vw auto 0 auto;
  width: 100%; }

.wel-propo-content {
  width: 100%; }
  .wel-propo-content p {
    font-size: 4vw;
    text-align: center;
    font-weight: 700;
    line-height: 2em; }
    .wel-propo-content p strong {
      color: #f57442; }

@media screen and (min-width: 801px) {
  .wel-propo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.875vw auto 0 auto;
    width: 42.5vw; }

  .wel-propo-content {
    width: 28.125vw; }
    .wel-propo-content p {
      font-size: 1.25vw; } }
@media screen and (min-width: 1601px) {
  .wel-propo {
    margin: 30px auto 0 auto;
    width: 680px; }

  .wel-propo-content {
    width: 450px; }
    .wel-propo-content p {
      font-size: 20px;
      font-size: 2.0rem; } }
/*  entry
------------------------------------------------------------------------------*/
.sec--entry {
  padding: 6.6666666667vw 0 13.3333333333vw 0; }

.sec--entry:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 34.6666666667vw;
  background-color: #eef2f8; }

@media screen and (min-width: 801px) {
  .sec--entry {
    padding: 1.5625vw 0 4.375vw 0; }

  .sec--entry:before {
    height: 17.5vw; } }
@media screen and (min-width: 1601px) {
  .sec--entry {
    padding: 25px 0 70px 0; }

  .sec--entry:before {
    height: 280px; } }
.entry {
  margin: 0 auto;
  width: 82.6666666667vw; }

.entry a {
  display: block;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4vw; }

.entry-image .img__scale,
.entry-image img {
  border-radius: 4vw 4vw 0 0; }

.entry-content {
  padding: 4.6666666667vw 4.6666666667vw 6.6666666667vw 4.6666666667vw;
  background-color: #fff;
  border-radius: 0 0 4vw 4vw; }
  .entry-content p {
    font-weight: 700;
    line-height: 1.8em; }

.entry-head {
  margin-bottom: .8em;
  color: #a9b2c8;
  font-size: 3.7333333333vw;
  font-weight: 700; }

@media screen and (min-width: 801px) {
  .entry {
    width: 37.5vw; }

  .entry a {
    border-radius: 1.25vw; }

  .entry-image .img__scale,
  .entry-image img {
    border-radius: 1.25vw 1.25vw 0 0; }

  .entry-content {
    padding: 1.5625vw 1.5625vw 3.75vw 1.5625vw;
    background-color: #fff;
    border-radius: 0 0 1.25vw 1.25vw; }

  .entry-head {
    font-size: 1.125vw; } }
@media screen and (min-width: 1601px) {
  .entry {
    width: 600px; }

  .entry a {
    border-radius: 20px; }

  .entry-image .img__scale,
  .entry-image img {
    border-radius: 20px 20px 0 0; }

  .entry-content {
    padding: 25px 25px 60px 25px;
    background-color: #fff;
    border-radius: 0 0 20px 20px; }

  .entry-head {
    font-size: 18px;
    font-size: 1.8rem; } }
/*  migration
------------------------------------------------------------------------------*/
.mig__container > div {
  position: relative;
  height: 48vw; }

.mig__container > div:nth-of-type(1) {
  width: 100%;
  background-image: -moz-linear-gradient(0deg, #e2e3e7 0%, #c8cbd3 50%, #c7c8cb 100%, #c8cbd2 100%);
  background-image: -webkit-linear-gradient(0deg, #e2e3e7 0%, #c8cbd3 50%, #c7c8cb 100%, #c8cbd2 100%);
  background-image: -ms-linear-gradient(0deg, #e2e3e7 0%, #c8cbd3 50%, #c7c8cb 100%, #c8cbd2 100%); }

.mig__container > div:nth-of-type(2) {
  width: 100%;
  background-image: -moz-linear-gradient(0deg, rgba(199, 206, 216, 0.99608) 0%, #9faab7 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(199, 206, 216, 0.99608) 0%, #9faab7 100%);
  background-image: -ms-linear-gradient(0deg, rgba(199, 206, 216, 0.99608) 0%, #9faab7 100%); }

@media screen and (min-width: 801px) {
  .mig__container {
    display: flex; }

  .mig__container > div {
    width: 50%;
    height: 18.75vw; } }
@media screen and (min-width: 1601px) {
  .mig__container > div {
    height: 300px; } }
.mig__inner {
  position: absolute;
  top: 50%;
  left: 50%; }

@media screen and (max-width: 800px) {
  .mig__inner {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); } }
@media screen and (min-width: 801px) {
  .mig__inner {
    top: 3.4375vw;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }
@media screen and (min-width: 1601px) {
  .mig__inner {
    top: 55px; } }
/* ----------------- セクション英語見出し - */
.mig__heading {
  color: #fff;
  font-size: 4.5333333333vw;
  font-weight: 700;
  text-align: center;
  white-space: nowrap; }

.mig__time {
  color: #fff;
  font-size: 3.4666666667vw;
  font-weight: 700;
  text-align: center; }

@media screen and (min-width: 801px) {
  .mig__heading {
    font-size: 1.5vw; }

  .mig__time {
    font-size: 1vw; } }
@media screen and (min-width: 1601px) {
  .mig__heading {
    font-size: 24px;
    font-size: 2.4rem; }

  .mig__time {
    font-size: 16px;
    font-size: 1.6rem; } }
/* ----------------- メインコンテンツ部分 - */
.btn--mig {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 4.6666666667vw auto;
  width: 55.3333333333vw;
  height: 14.6666666667vw;
  border: 1px solid #fff;
  overflow: hidden;
  cursor: pointer; }

.btn--mig a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 146.6666666667vw;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 4.5333333333vw;
  font-weight: 600;
  text-align: center;
  letter-spacing: .3em;
  transition: all .5s ease;
  z-index: 2; }

.btn--mig__effect {
  position: absolute;
  width: 100%;
  height: 146.6666666667vw;
  left: -100%;
  background-color: #fff;
  transition: all .5s ease;
  z-index: 1; }

.btn--mig:hover .btn--mig__effect {
  left: 0; }

.mig__container div:nth-of-type(1) .btn--mig:hover a {
  color: #c7c8ca; }

.mig__container div:nth-of-type(2) .btn--mig:hover a {
  color: #9ea7b2; }

@media screen and (min-width: 801px) {
  .btn--mig {
    margin: 1.5625vw auto;
    width: 25.3125vw;
    height: 6.25vw; }

  .btn--mig a {
    height: 6.25vw;
    font-size: 1.5vw; } }
@media screen and (min-width: 1601px) {
  .btn--mig {
    margin: 25px auto;
    width: 405px;
    height: 100px; }

  .btn--mig a {
    height: 100px;
    font-size: 24px;
    font-size: 2.4rem; } }
/*  heading
------------------------------------------------------------------------------*/
/* ---------------------------------- main heading */
.heading {
  position: relative;
  z-index: 2; }

.heading__inner {
  position: relative;
  display: inline-block; }

.heading__inner:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 60px;
  height: 3px;
  background-image: -moz-linear-gradient(0deg, #9fdf45 0%, #5bcbfc 33%, #fac253 66%, #f64d5a 100%);
  background-image: -webkit-linear-gradient(0deg, #9fdf45 0%, #5bcbfc 33%, #fac253 66%, #f64d5a 100%);
  background-image: -ms-linear-gradient(0deg, #9fdf45 0%, #5bcbfc 33%, #fac253 66%, #f64d5a 100%); }

@media screen and (max-width: 800px) {
  .heading {
    text-align: center; }

  .heading__inner:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }
@media screen and (min-width: 801px) {
  .heading--center {
    text-align: center; }

  .heading--left {
    text-align: left; }

  .heading--right {
    text-align: right; }
    .heading--right .heading__inner {
      text-align: left; }

  .heading__inner {
    min-width: 24.0625vw; }

  .heading__inner:after {
    width: calc(60 / 1600 * 100vw);
    height: calc(3 / 1600 * 100vw); }

  .heading--left .heading__inner:after,
  .heading--right .heading__inner:after {
    left: 0; }

  .heading--center .heading__inner:after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); } }
@media screen and (min-width: 1601px) {
  .heading__inner {
    min-width: 385px; }

  .heading__inner:after {
    width: 60px;
    height: 3px; } }
.heading__jp {
  position: relative;
  display: block;
  padding: .7em 0;
  font-size: calc(34 / 750 * 100vw);
  font-weight: 600;
  line-height: 1.6em; }

.heading__jp--blue {
  color: #005dad;
  font-size: 1.4em; }

.heading__jp--green {
  color: #07ab54;
  font-size: 1.4em; }

.heading__en {
  position: relative;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: calc(46 / 750 * 100vw);
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase; }

@media screen and (min-width: 801px) {
  .heading__jp {
    font-size: calc(24 / 1600 * 100vw); }

  .heading__en {
    font-size: calc(36 / 1600 * 100vw); }

  .heading__en--line:before {
    content: '';
    position: absolute;
    top: 50%;
    width: 10.625vw;
    height: 1px;
    background-color: #000;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }

  .heading--left .heading__en--line:before {
    left: -12.5vw; } }
@media screen and (min-width: 1601px) {
  .heading__jp {
    font-size: 24px;
    font-size: 2.4rem; }

  .heading__en {
    font-size: 36px;
    font-size: 3.6rem; }

  .heading__en--line:before {
    width: 170px; }

  .heading--left .heading__en--line:before {
    left: -200px; } }
/* ---------------------------------- common heading */
.cmn-head {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 57.3333333333vw; }

.cmn-head__en {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: .15em;
  color: #fff7e5;
  font-family: "Montserrat", sans-serif;
  font-size: 26.6666666667vw;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .15em;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.cmn-head__jp {
  position: relative;
  display: inline-block;
  padding: .3em 1.5em;
  background-color: #faa924;
  color: #fff;
  font-size: 4.5333333333vw;
  text-align: center;
  font-weight: 700;
  z-index: 2; }

@media screen and (max-width: 800px) {
  .sec--entry .cmn-head {
    height: 34.6666666667vw; } }
@media screen and (min-width: 801px) {
  .cmn-head {
    height: 15.625vw; }

  .cmn-head__en {
    font-size: 14.375vw;
    white-space: nowrap; }

  .cmn-head__jp {
    font-size: 1.5vw; } }
@media screen and (min-width: 1601px) {
  .cmn-head {
    height: 250px; }

  .cmn-head__en {
    font-size: 230px;
    font-size: 23.0rem; }

  .cmn-head__jp {
    font-size: 24px;
    font-size: 2.4rem; } }
.cmn-subhead {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 5.3333333333vw auto;
  width: 82.6666666667vw;
  height: 20vw; }

.cmn-subhead > span {
  position: absolute;
  display: block;
  width: 8vw;
  height: 8vw;
  border-color: #0060b0;
  border-style: solid;
  border-width: 0.6666666667vw; }

.cmn-subhead > span:nth-of-type(1) {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none; }

.cmn-subhead > span:nth-of-type(2) {
  bottom: 0;
  right: 0;
  border-top: none;
  border-left: none; }

@media screen and (min-width: 801px) {
  .cmn-subhead {
    margin: 0 auto 1.875vw auto;
    width: 43.75vw;
    height: 6.25vw; }

  .cmn-subhead > span {
    width: 3.125vw;
    height: 3.125vw;
    border-width: 0.1875vw; } }
@media screen and (min-width: 1601px) {
  .cmn-subhead {
    margin: 0 auto 30px auto;
    width: 700px;
    height: 100px; }

  .cmn-subhead > span {
    width: 50px;
    height: 50px;
    border-width: 3px; } }
.cmn-mark-head {
  position: relative;
  padding-left: 10.6666666667vw;
  font-size: 4.5333333333vw;
  font-weight: 700;
  line-height: 1.6em; }
  .cmn-mark-head span {
    position: relative; }

.cmn-mark-head:before {
  content: 'Q';
  position: absolute;
  top: -0.8vw;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 8vw;
  background-color: #0060b0;
  border-radius: 50%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 4.5333333333vw;
  font-weight: 700; }

@media screen and (min-width: 801px) {
  .cmn-mark-head {
    padding-left: 3.75vw;
    font-size: 1.5vw; }

  .cmn-mark-head--small {
    font-size: 1.25vw; }

  .cmn-mark-head:before {
    top: -0.375vw;
    width: 3.125vw;
    height: 3.125vw;
    font-size: 1.5vw; } }
@media screen and (min-width: 1601px) {
  .cmn-mark-head {
    padding-left: 60px;
    font-size: 24px;
    font-size: 2.4rem; }

  .cmn-mark-head--small {
    font-size: 20px;
    font-size: 2.0rem; }

  .cmn-mark-head:before {
    top: -6px;
    width: 50px;
    height: 50px;
    font-size: 24px;
    font-size: 2.4rem; } }
/*  breadcrumb
------------------------------------------------------------------------------*/
.breadcrumb__container {
  width: 100%; }

.breadcrumb {
  margin: 0 auto;
  padding: 1.5em 0;
  display: flex; }

.breadcrumb__home {
  position: relative; }

.breadcrumb__home:before {
  content: '';
  position: relative;
  display: inline-block;
  width: 4.2666666667vw;
  height: 4.8vw;
  background-image: url(../img/common/home.png);
  background-size: contain;
  background-repeat: no-repeat; }

.breadcrumb li {
  display: flex;
  position: relative;
  margin-right: 1em;
  font-size: calc(24 / 750 * 100vw);
  line-height: 1.6em; }

.breadcrumb li:after {
  position: relative;
  margin-left: 1em;
  content: '＞'; }

.breadcrumb li:last-child {
  margin-right: 0; }

.breadcrumb li:last-child:after {
  content: ''; }

@media screen and (min-width: 801px) {
  .breadcrumb__home:before {
    width: 1vw;
    height: 1.125vw; }

  .breadcrumb li {
    font-size: calc(13 / 1600 * 100vw); } }
@media screen and (min-width: 1601px) {
  .breadcrumb__home:before {
    width: 16px;
    height: 18px; }

  .breadcrumb li {
    font-size: 13px;
    font-size: 1.3rem; } }
/*  button
------------------------------------------------------------------------------*/
.btn__container {
  margin: 0 auto;
  width: 100%; }

.btn {
  position: relative;
  font-family: "Montserrat", sans-serif, "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meyryo, sans-serif; }

/* ---------------------------------- 角丸ボタン */
.btn--radius {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12vw;
  border-radius: 2em;
  box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  cursor: pointer; }

.btn--radius a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12vw;
  color: #fff;
  font-size: 3.7333333333vw;
  font-weight: 700;
  text-decoration: none;
  transition: all .5s ease;
  z-index: 2; }

.btn--radius__effect {
  position: absolute;
  width: 100%;
  height: 12vw;
  left: -100%;
  background-color: #fff;
  transition: all .5s ease;
  z-index: 1; }

.btn--radius:hover .btn--radius__effect {
  left: 0; }

@media screen and (min-width: 801px) {
  .btn--radius {
    height: 3.75vw; }

  .btn--radius a {
    height: 3.75vw;
    font-size: 1.125vw; }

  .btn--radius__effect {
    height: 3.75vw; } }
@media screen and (min-width: 1601px) {
  .btn--radius {
    height: 60px; }

  .btn--radius a {
    height: 60px;
    font-size: 18px;
    font-size: 1.8rem; }

  .btn--radius__effect {
    height: 60px; } }
.btn--arrow:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 1.5em;
  display: inline-block;
  width: 3.2vw;
  height: 1.0666666667vw;
  background-image: url(../img/common/btn_mark_w.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 3; }

@media screen and (min-width: 801px) {
  .btn--arrow:after {
    width: 1vw;
    height: 0.3125vw; } }
@media screen and (min-width: 1601px) {
  .btn--arrow:after {
    width: 16px;
    height: 5px; } }
.btn--gradi:hover:after {
  background-image: url(../img/common/btn_mark_gradi.png); }

.btn--blue:hover:after {
  background-image: url(../img/common/btn_mark_b.png); }

.btn--green:hover:after {
  background-image: url(../img/common/btn_mark_g.png); }

.btn--orange:hover:after {
  background-image: url(../img/common/btn_mark_o.png); }

.btn--gradi {
  background-image: -moz-linear-gradient(0deg, #00cca7 0%, #0085d1 100%);
  background-image: -webkit-linear-gradient(0deg, #00cca7 0%, #0085d1 100%);
  background-image: -ms-linear-gradient(0deg, #00cca7 0%, #0085d1 100%); }

.btn--blue {
  background-image: -moz-linear-gradient(0deg, #0bbafb 0%, #4285ec 100%);
  background-image: -webkit-linear-gradient(0deg, #0bbafb 0%, #4285ec 100%);
  background-image: -ms-linear-gradient(0deg, #0bbafb 0%, #4285ec 100%); }

.btn--green {
  background-image: -moz-linear-gradient(0deg, #6ce4b8 0%, #28d089 100%);
  background-image: -webkit-linear-gradient(0deg, #6ce4b8 0%, #28d089 100%);
  background-image: -ms-linear-gradient(0deg, #6ce4b8 0%, #28d089 100%); }

.btn--orange {
  background-image: -moz-linear-gradient(0deg, rgba(255, 166, 108, 0.99608) 0%, #ff8b63 100%);
  background-image: -webkit-linear-gradient(0deg, rgba(255, 166, 108, 0.99608) 0%, #ff8b63 100%);
  background-image: -ms-linear-gradient(0deg, rgba(255, 166, 108, 0.99608) 0%, #ff8b63 100%); }

.btn--gradi:hover {
  border: 0.8vw solid #00a1c0; }

.btn--blue:hover {
  border: 0.8vw solid #0060b0; }

.btn--green:hover {
  border: 0.8vw solid #29d089; }

.btn--orange:hover {
  border: 0.8vw solid #ff8c63; }

.btn--gradi:hover a {
  color: #00a1c0; }

.btn--blue:hover a {
  color: #0060b0; }

.btn--green:hover a {
  color: #29d089; }

.btn--orange:hover a {
  color: #ff8c63; }

.btn--red:hover a {
  color: #d16a6a; }

.btn--gradi .btn--radius__effect,
.btn--blue .btn--radius__effect {
  background-color: #fff; }

@media screen and (min-width: 801px) {
  .btn--gradi:hover {
    border: 0.1875vw solid #00a1c0; }

  .btn--blue:hover {
    border: 0.1875vw solid #0060b0; }

  .btn--green:hover {
    border: 0.1875vw solid #29d089; }

  .btn--orange:hover {
    border: 0.1875vw solid #ff8c63; } }
@media screen and (min-width: 1601px) {
  .btn--gradi:hover {
    border: 3px solid #00a1c0; }

  .btn--blue:hover {
    border: 3px solid #0060b0; }

  .btn--green:hover {
    border: 3px solid #29d089; }

  .btn--orange:hover {
    border: 3px solid #ff8c63; } }
/*  animation
------------------------------------------------------------------------------*/
.anim {
  opacity: 0; }

.anim.is-show {
  opacity: 1; }

.anim--in.is-show {
  animation: scale 1s; }

@keyframes scale {
  0% {
    transform: scale(1.05, 1.105);
    opacity: 0; }
  100% {
    transform: scale(1, 1);
    opacity: 1; } }
.anim--left {
  -webkit-transform: translateX(-100px);
  transform: translateX(-100px); }

.anim--left.is-show {
  -webkit-transform: translateX(0) scale(1);
  transform: translateX(0) scale(1);
  transition: transform 1s cubic-bezier(0.08, 0.92, 0.35, 1), opacity 0.5s; }

.anim--right {
  -webkit-transform: translateX(100px);
  transform: translateX(100px); }

.anim--right.is-show {
  -webkit-transform: translateX(0) scale(1);
  transform: translateX(0) scale(1);
  transition: transform 1s cubic-bezier(0.08, 0.92, 0.35, 1), opacity 0.5s; }

.anim--top {
  opacity: 0;
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px); }

.anim--top.is-show {
  -webkit-transform: translateY(0) scale(1);
  transform: translateY(0) scale(1);
  transition: transform 1s cubic-bezier(0.08, 0.92, 0.35, 1), opacity 0.5s;
  opacity: 1; }

/* ---------------------------------- 下からフェードイン */
.anim--bottom {
  -webkit-transform: translateY(30px);
  transform: translateY(30px); }

.anim--bottom.is-show {
  transform: translateY(0);
  transition: transform 1s cubic-bezier(0.08, 0.92, 0.35, 1), opacity 0.5s; }

/* ---------------------------------- 拡大 */
.anim--scale {
  transform: scale(0);
  transition: transform 0.5s linear; }

.anim--scale.is-show {
  transform: scale(1); }

/*  UTILIS
------------------------------------------------------------------------------*/
/*  P
-------------------------------------------------------*/
.text {
  line-height: 1.8em; }

.normal {
  font-weight: 400 !important; }

.bold {
  font-weight: 700; }

/*  配置
-------------------------------------------------------*/
.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

@media screen and (max-width: 800px) {
  .none__sp {
    display: none  !important; }

  .br__pc {
    display: inline; }

  .br__sp {
    display: block; }

  .br--pc {
    display: none; } }
@media screen and (min-width: 801px) {
  .none__pc {
    display: none  !important; }

  .br__pc {
    display: block; }

  .br__sp {
    display: inline; }

  .br--sp {
    display: none; } }
/* ---------------------------------- 文字数 */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden; }

/*  画像
-------------------------------------------------------*/
.img__fit {
  width: 100%;
  max-width: 100%;
  height: auto; }

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  max-width: 100%;
  height: auto; }
