// main: ../style.scss

/*  common
------------------------------------------------------------------------------*/

/* ---------------------------------- image hover scale */

.img__scale {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.img__scale img {
  width: 100%;
  transition-duration: 0.5s;
}

.img__scale__hover {
  transform: scale(1.1,1.1);
  cursor: pointer;
}

.hover__container a:hover .img__scale img,
.hover__container > div:hover .img__scale img {
  @extend .img__scale__hover;
}

/* ---------------------------------- gradient text */

strong.stro-red {
  display: inline-block;
  background: linear-gradient( to right,  #febc95 25%, #ff7645 75% );
  color: transparent;
  -webkit-background-clip: text;
}

strong.stro-green {
  display: inline-block;
  background: linear-gradient( to right,  #7bd7a5 25%, #33b16c 75% );
  color: transparent;
  -webkit-background-clip: text;
}


@media all and (-ms-high-contrast: none) { /* IE10,11用 */
  strong.stro-red {
    background: none;
    color: #ff7645
  }

  strong.stro-green {
    background: none;
    color: #33b16c
  }
}


/* ---------------------------------- bg-stripe */

span.bg-stripe {
  position: relative;
}

span.bg-stripe:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 45%;
  background: -webkit-repeating-linear-gradient(-45deg, #f5d448, #f5d448 5px ,#fdf6da 5px, #fdf6da 12px);
  background: repeating-linear-gradient(-45deg, #f5d448, #f5d448 5px ,#fdf6da 5px, #fdf6da 12px );
  z-index: -1;
}


/* ---------------------------------- shadowbox */

.cmn-shadowbox {
  position: relative;
  margin: 0 auto;
  background-color: $color-base;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  z-index: 3;
}

.cmn-shadowbox--small {
  padding: vw-sp(50) vw-sp(25);
  width: 100%;
}

.cmn-shadowbox--large {
  padding: vw-sp(50) vw-sp(25);
  width: 100%;
}

.cmn-shadowbox-head {
  margin-bottom: 3em;
  text-align: center;
  line-height: 2em;
}

.cmn-shadowbox-head span {
  background-color: $color-accent;
  padding: .3em .5em;
  color: $color-base;
  font-size: vw-sp(34);
  font-weight: 700;
  line-height: 2em;
}

@media screen and (min-width: $breakpoint1) {

  .cmn-shadowbox--small {
    padding: vw-pc(50);
    width: vw-pc(900);
  }

  .cmn-shadowbox--large {
    padding: vw-pc(45) vw-pc(60);
  }

  .cmn-shadowbox-head span {
    font-size: vw-pc(24);
  }
}

@media screen and (min-width: $breakpoint2) {

  .cmn-shadowbox--small {
    padding: 50px;
    width: 900px;
  }

  .cmn-shadowbox--large {
    padding: 45px 60px;
  }

  .cmn-shadowbox-head span {
    font-size: 24px; font-size: 2.4rem;
  }
}


/* ---------------------------------- cmn-list */

.cmn-list-box {
  margin: 0 auto;
  background-color: #fff8ee;
  padding: 1em 2em;
  max-width: 100%;
}

.cmn-list {
  position: relative;
  z-index: 2;
}

.cmn-list li {
  position: relative;
  padding: .5em 0 .5em 1.5em;
  font-size: vw-sp(28);
  font-weight: 700;
  line-height: 1.6em;
}

.cmn-list li:before {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  background-image: url(../img/common/check.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.cmn-list li:before {
  top: .8em;
  width: vw-sp(30);
  height: vw-sp(24);
}

.cmn-list li:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: inline-block;
  width: 100%;
  height: vw-sp(5);
  background-image: url(../img/common/line.png);
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.cmn-list li:last-child::after {
  content: none;
}

@media screen and (min-width: $breakpoint1) {

  .cmn-list-box {
    max-width: vw-pc(965);
  }

  .cmn-list li {
    padding: .5em 0 .5em 2em;
    font-size: vw-pc(18);
  }

  .cmn-list li:before {
    top: .6em;
    width: vw-pc(28);
    height: vw-pc(24);
  }

  .cmn-list li:after {
    height: vw-pc(2.5);
  }
}

@media screen and (min-width: $breakpoint2) {

  .cmn-list-box {
    max-width: 965px;
  }

  .cmn-list li {
    font-size: 18px; font-size: 1.8rem;
  }

  .cmn-list li:before {
    width: 28px;
    height: 24px;
  }

  .cmn-list li:after {
    height: 2.5px;
  }
}


/* ---------------------------------- cmn-graph */

.cmn-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: vw-sp(270);
  height: vw-sp(270);
  background-image: url(../img/common/graph.png);
  background-size: 100%;
}

.cmn-count {
  display: inline-block;
  background: linear-gradient( to right,  #ffa66d 25%, #ff8c63 75% );
  color: transparent;
  font-family: $font2;
  font-size: vw-sp(46);
  font-weight: 700;
  -webkit-background-clip: text;
  span {
    font-size: vw-sp(72);
  }
}

@media all and (-ms-high-contrast: none) { /* IE10,11用 */
  .cmn-count {
    background: none;
    color: #ff8c63;
  }
}

@media screen and (max-width: $breakpoint1-max) {

  .cmn-graph {
    margin: vw-sp(60) auto 0 auto;
  }
}

@media screen and (min-width: $breakpoint1) {

  .cmn-graph {
    width: vw-pc(225);
    height: vw-pc(225);
  }

  .cmn-count {
    font-size: vw-pc(36);
    span {
      font-size: vw-pc(62);
    }
  }
}

@media screen and (min-width: $breakpoint2) {

  .cmn-graph {
    width: 225px;
    height: 225px;
  }

  .cmn-count {
    font-size: 36px; font-size: 3.6rem;
    span {
      font-size: 62px; font-size: 6.2rem;
    }
  }
}
